@charset "ISO-8859-1";

form {
	display: flex;
	flex-direction: column;
}

.usernameline {
	display: flex;	
	}
	
.passwordline {
	display: flex;
	
}

.inputline {
	display: flex;
}
	
.newuser {
	display: none;
	
}

.mainsection {
	display: flex;
	
}

.infobar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.name {
	display: flex;
	
}

.borrowcontent form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 30px;
}

.borrowcontent {
	width: 100%;
}
.userselect {
	display: flex;
	flex-direction: column;
}

.itemselect {
	display: flex;
	flex-direction: column;
	
}