<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
	<h1>Bitch, Where's my stuff</h1>
	<h2>Manage Items</h2>
</header>

<div class="mainsection">
	<div class="menu">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="manage.html">Manage Items</a></li>
			<li><a href="logout">Logout</a></li>
		</ul>
	</div>
	
	<div class="borrowcontent">
		<form th:action="@{/lend}" method="post">
		<div class="userselect">
			<h2>Select User to Lend item</h2>
			<select  name="user">
				<option th:each="currentuser : ${user}" th:value="${currentuser.id}" th:text=${currentuser.username}></option>
			</select>
			
		</div>
		<div class="itemselect">
			<h2>Select Item To Lend</h2>
			<select name ="item">
				<option th:each="currentitem : ${item}" th:value="${currentitem.id}" th:text="${currentitem.item.name}"></option>
			</select>
		</div>
		
		<div class="lenddate">
			<h2>Lend Start Date</h2>
			<input type="date" name="lenddate">
		</div>
		
		<div class="duedate">
			<h2>Due Date</h2>
			<input type="date" name="duedate">
		</div>
		<input type="submit" value="Submit">
		</form>		
		
	</div>
</div>

</body>
</html>