<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert fancy title here</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="intropage">
	<div class="overlay">
			<div class="intro">
			<h1>Bitch, Where's my stuff</h1>
			<h2>Lend or borrow items from our community of users</h2>
			</div>
		<div class="login">
			<form>
			<h3>Login in</h3>
			<div class="usernameline">
				User Name
				<input type="text" name="username">
			</div>
			<div class="passwordline">
				Password
				<input type="password" name="passowrd">
			</div>
			<div class="inputline">
				<a>Add User</a>
				<input type="submit" value="Login" name="submit">
			</div> 
			</form>
		</div>
		<div class="login newuser">
			<form>
			<h3>Add User</h3>
			<div class="usernameline">
				User Name
				<input type="text" name="newusername">
			</div>
			<div class="passwordline">
				Password
				<input type="password" name="newpassowrd">
			</div>
			<div class="inputline">
				<input type="submit" value="Add User" name="adduser">
			</div> 
			</form>
		</div>
	</div>

	<script type="text/javascript" th:src="@{~/scripts/newuser.js}"></script>
</body>
</html>