<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
	<h1>Where's my stuff</h1>
	<h2>Lend or borrow items from our community of users</h2>
</header>

<div class="infobar">
	<div class="currentrating">
		<p th:if="${session.myRating == 0.0}">No Rating</p>
		<p th:unless="${session.myRating == 0.0}" th:text="${'My Rating: ' + session.myRating}"></p>
	</div>
	<div class="name">
	<h3>Hello,</h3><h3 th:text="${session.currentUsername}"></h3>
	</div>
</div>

<div class="mainsection">
	<div class="menu">
		<ul>
			<li><a href="manage">Manage items</a></li>
			<li><a href="lend">Lend Item</a></li>
			<li><a href="return">Return an Item</a></li>
			<li><a href="viewAllBorrowers">View User Ratings</a></li>
			<li><a href="logout">Logout</a></li>
		</ul>
	</div>
	
	<div class="content">
		<div class="itemsuploaded">
		<h2>All of my Items</h2>
		<table>
			<tr>
				<th>Item</th>
				<th>Type</th>
			</tr>
			<tr th:each="currentItem : ${userItems}" th:unless="${userItems == null}">
				<td th:text="${currentItem.item.name}" />
				<td th:text="${currentItem.item.type}" />
		</table>
		</div>
		<div class="itemsout">
		<h2>My Items currently lent out</h2>
			<table>
				<tr>
					<th>Item</th>
					<th>Type</th>
					<th>Lent to</th>
					<th>Date Lent</th>
					<th>Overdue</th>
				</tr>
				<tr>
				<tr th:each="currentItem : ${lentItems}" th:unless="${lentItems == null}">
					<td th:text="${currentItem.userItem.item.name}" />
					<td th:text="${currentItem.userItem.item.type}" />
					<td th:text="${currentItem.borrower.username}" />
					<td th:text="${currentItem.borrowDate}" />
					<td th:if="${currentItem.dueDate < session.currentDate}" style="background-color: #ff6666;"> Y </td>
					<td th:unless="${currentItem.dueDate < session.currentDate}"> N </td>
				</tr>
			</table>
		</div>
	</div>
</div>

</body>
</html>
