<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manage Item</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
	<h1>Bitch, Where's my stuff</h1>
	<h2>Manage Items</h2>
</header>

<div class="mainsection">
	<div class="menu">
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="lend">Lend Item</a></li>
			<li><a href="">Logout</a></li>
		</ul>
	</div>
	
	<div class="content">
		<div class = "form">
		<form name='f' th:object="${newItems}" th:action="@{/manage}"
		method='POST'>
		Name: <input name="name" size="30"> <br />
		Type: <input name="type" size="30"><br />
		<input name="submit" type="submit" value="submit" />
		</form>
		</div>
	</div>
</div>

</body>
</html>