<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manage Item</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
</head>
<body>
<header>
	<h1>Bitch, Where's my stuff</h1>
	<h2>Manage Items</h2>
</header>

<div class="mainsection">
	<div class="menu">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="borrow.html">Borrow Items</a></li>
			<li><a href="">Logout</a></li>
		</ul>
	</div>
	
	<div class="content">
		
		
	</div>
</div>

</body>
</html>