<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
	<h1>Where's my stuff</h1>
	<h2>Lend or borrow items from our community of users</h2>
</header>

<div class="mainsection">
	<div class="menu">
		<ul>
			<li><a href="/home">Return Home</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	
	<div class="content">
		<div class="itemsuploaded">
		<h2>Pick A Return Date for your item</h2>
		<table>
			<tr>
				<th>Item</th>
				<th>Type</th>
				<th>Lent To</th>
				<th>Lent Date</th>
				<th>Due Date</th>
			</tr>
			<tr>
				<td th:text="${currentItem.userItem.item.name}" />
				<td th:text="${currentItem.userItem.item.type}" />
				<td th:text="${currentItem.borrower.username}" />
				<td th:text="${currentItem.borrowDate}" />
				<td th:text="${currentItem.dueDate}" />
			<tr>
		</table>
		</div>
		
		<div class="itemsuploaded">
			<form th:action="@{/saveReturnItem}" method='POST' th:object="${currentItem}" style="margin-left:85px; margin-top: 50px;">
				<div>Return Date: <input type="date" th:field="*{returnDate}" id="returnDate" /></div>
				<div><input type="hidden" th:field="*{id}" th:value="${currentItem.id}" id="id" /></div>
				<div><input type="submit" value="submit"/></div>
			</form>
		</div>
		
	</div>
</div>

</body>
</html>